.navigation {
  background-color: #778beb;
  display: flex;
  padding: 20px;
  margin: 50px 10px 10px 10px;
  border-radius: 20px;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  top: 50%;
}

.navigation__box {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 15px;
  min-height: 4rem;
  color: black;
  align-items: center;
  justify-content: space-evenly;
}

.navigation__box > h1 {
  font-weight: 400;
  font-size: 16px;
}
